<%- include('template/header'); %>
<div class="row">
    <% if(estateAds.length > 0){ %>

        <% estateAds.forEach(function(estateAd) { %>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="img/immoMini.jpg" title="<%= estateAd.titre %>"/>
                <h2><%= estateAd.titre %></h2>
                <p><%= estateAd.description %></p>
                <p><a class="btn btn-danger" href="http://localhost:4000/voir-annonce/<%= estateAd._id %>" title="Consulter"><i class="bi bi-eye"></i> Voir</a></p>
            </div>
            <% }); %>
        <% } else{ %>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="img/immoMini.jpg" title="Aucun"/>
                <h2>Pas d'appartement</h2>
                <p>Il n'y a pas d'appartement</p>
                <p><a class="btn btn-secondary" href="#">Consulter</a></p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="img/immoMini.jpg" title="Aucun"/>
                <h2>Pas d'appartement</h2>
                <p>Il n'y a pas d'appartement</p>
                <p><a class="btn btn-secondary" href="#">Consulter</a></p>
            </div>
            <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="img/immoMini.jpg" title="Aucun"/>
                <h2>Pas d'appartement</h2>
                <p>Il n'y a pas d'appartement</p>
                <p><a class="btn btn-secondary" href="#">Consulter</a></p>
            </div>
        <% }%>

</div><!-- /.row -->
<%- include('template/footer'); %>
