<%- include('../template/header'); %>
<nav aria-label="breadcrumb" >
    <ol class="breadcrumb" style="background-color: white">
        <li class="breadcrumb-item"><a href="http://localhost:4000/" title="Accueil">Accueil</a></li>
        <li class="breadcrumb-item"><a href="http://localhost:4000/agence/annonces" title="Gérer les annonces">Gérer les annonces</a></li>
        <li class="breadcrumb-item"><a>Consulter une annonce</a></li>
    </ol>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= estateAd.titre %></h1>
        <p class="lead">Consultez le détail d'une annonce</p>
    </div>
</div>
<div class="row">
    <div class="card mb-3 col-8 mx-auto" >
        <div class="row no-gutters" >
            <div class="col-4">
                <img src="../img/immo4.jpg" alt="immo" width="250px"/>
            </div>
            <div class="col-8">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-3">Titre</dt>
                        <dd class="col-sm-9"><%= estateAd.titre %></dd>

                        <dt class="col-sm-3">Description</dt>
                        <dd class="col-sm-9">
                            <p><%= estateAd.description %></p>
                        </dd>

                        <dt class="col-sm-3">Adresse</dt>
                        <dd class="col-sm-9"><%= estateAd.adresse %></dd>

                        <dt class="col-sm-3">Code postal</dt>
                        <dd class="col-sm-9"><%= estateAd.code_postal %></dd>

                        <dt class="col-sm-3">Ville</dt>
                        <dd class="col-sm-9"><%= estateAd.ville %></dd>

                        <dt class="col-sm-3">Prix</dt>
                        <dd class="col-sm-9"><%= estateAd.price %> &euro;</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-md-flex justify-content-md-end">
    <a class="btn btn-secondary me-md-2" href="http://localhost:4000/agence/annonces" title="Retour">Retour</a>
</div>
<%- include('../template/footer'); %>
