<%- include('../template/header'); %>
<nav aria-label="breadcrumb" >
    <ol class="breadcrumb" style="background-color: white">
        <li class="breadcrumb-item"><a href="http://localhost:4000/" title="Accueil">Accueil</a></li>
        <li class="breadcrumb-item"><a>Gérer les annonces</a></li>
    </ol>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Gérer les annonces</h1>
        <p class="lead">Consultez, éditez ou supprimez les annonces.</p>
    </div>
</div>
<div class="row">
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Adresse</th>
            <th scope="col">Code postal</th>
            <th scope="col">Ville</th>
            <th scope="col">Prix</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <% if(estateAds.length > 0){ %>

            <% estateAds.forEach(function(estateAd) { %>
            <tr>
                <td><%= estateAd.titre %></td>
                <td><%= estateAd.description %></td>
                <td><%= estateAd.adresse %></td>
                <td><%= estateAd.code_postal %></td>
                <td><%= estateAd.ville %></td>
                <td><%= estateAd.price %> &euro;</td>
                <td>
                    <a class="btn btn-success" title="Consulter" href="http://localhost:4000/voir-annonce/<%= estateAd._id %>"><i class="bi bi-eye"></i> Consulter </a>
                    <a class="btn btn-primary" title="Editer" href="http://localhost:4000/editer-annonce/<%= estateAd._id %>"><i class="bi bi-brush"></i> Éditer</a>
                    <button class="btn btn-danger" title="Supprimer" onclick="deleteImmo('annonce', '<%= estateAd._id %>')"><i class="bi bi-trash"></i> Supprimer</button>
                </td>
            </tr>
            <% }); %>
        <% } else{ %>
            <tr>
                <td>Aucune annonces.</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        <% }%>
        </tbody>
    </table>
</div>
<div class="d-md-flex justify-content-md-end">
    <a class="btn btn-secondary me-md-2" href="http://localhost:4000/" title="Retour">Retour</a>
</div>

<%- include('../template/footer'); %>
